<VirtualHost *:80>
        ServerName vm-dev.com

        ServerAdmin info@moozo.com.ar
        DocumentRoot /vagrant/

        <Directory /vagrant/>
                Require all granted
                AllowOverride All

                Order Allow,Deny
                Allow from all
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
